---
import { Icon } from 'astro-icon';
import Fachada from '../images/aqua-fachada.webp';

---

<div data-name="body" id="body" class="mt-20"  >   
    <p class="max-w-6xl mx-auto mt-6  text-center text-lg font-normal tracking-tight  md:text-2xl dark:text-gray-300">

        NO ESPERES MAS para levantarte con el sol caribeño entrando por tu ventana, disfruta de  paisajes espectaculares siempre. Te asesoramos en tu proceso, pregúntanos y cumple tu sueño de vivienda. <br>
         <span class="font-bold">¿Qué esperas? ¡Nuestro equipo está listo para asesorarte!</span>

         <br>
        
    </p>

    <p class="max-w-6xl mx-auto mt-6  text-center text-lg font-normal tracking-tight  md:text-2xl dark:text-gray-300">
        AQUAZUL LOFT es un proyecto único ubicado frente a las hermosas playas de
        Coveñas, AQUAZUL LOFT ofrece a sus residentes un distintivo estilo de vida que
        brinda un acercamiento con la naturaleza. Al mismo tiempo, este proyecto proveerá
        todas la comodidades y servicios, incluyendo espacios modernos, para vivir tu
        sueño frente al mar.
    </p>

    <section class="">
        <div class="container px-6 py-10 mx-auto">
            <div class="lg:flex lg:items-center">
                <div class="w-full space-y-12 lg:w-1/2 ">
                    <div>
                        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">Contamos con espacios diseñados <br> para vivir experiencias increíbles</h1>
    
                        <div class="mt-2">
                            <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                            <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                            <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        </div>
                    </div>
    
                    <div class="md:flex md:items-start md:-mx-4">                        
                        <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="ph:buildings-duotone"/>   
    
                        <div class="mt-4 md:mx-4 md:mt-0">
                            <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                                <span class="text-aqsky text-2xl">Aqua</span> y 
                                <span class="text-aqblue text-2xl">Azul</span>
                            </h1>
    
                            <p class="mt-3 text-gray-500 dark:text-gray-300">
                                El proyecto que se desarrollara teniendo en cuenta las necesidades
                                turísticas y de confort de la región, conformado por 160 apartamentos divididos en dos Torres
                            </p>
                        </div>
                    </div>
    
                    <div class="flex flex-wrap justify-center">
                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="gg:gym"/>
                            <p>Gimnasio</p>
                        </div>  
                        
                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="fa-solid:swimming-pool"/>
                            <p>Piscina</p>
                        </div> 

                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="ic:twotone-beach-access"/>
                            <p class="w-24 text-center">Área de Camastros</p>
                        </div>

                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="map:playground"/>
                            <p>Área de niños</p>
                        </div>

                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="carbon:help-desk"/>
                            <p>Recepción</p>
                        </div>

                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="ph:binoculars-duotone"/>
                            <p>Mirador</p>
                        </div>
                        
                        
                        <div class="flex flex-col justify-start items-center">
                            <Icon class="w-16 h-12 inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500" name="dashicons:palmtree"/>
                            <p>Playas</p>
                        </div>                       
                    </div>                    
                </div>
    
                <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">
                    <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" src={Fachada.src} alt="">
                </div>
            </div>
    
            <hr class="my-12 border-gray-200 dark:border-gray-700">


           
        </div>
    </section>
    


</div>




